body {
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, HelveticaNeueLT, Helvetica, Arial, 'Lucida Grande', sans-serif;
	background: #ccc;
}

header {
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}

h1 {
	display: inline;
	padding-right: 50px;
	margin: 5px;
}

header h4 {
	display: inline;
	margin-right: 15px;
}

#controls {
	width: 100%;
	display: block;
}

#container {

}

.player-wrapper {
	float: left;
	width: 24%;
	height: 470px;
	position: relative;
	margin-left: 12px;
	padding-right: 1px;
	border-right: 1px solid #000;
}

.player-wrapper h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.player-wrapper footer {
	position: absolute;
	bottom: 0px;
}

.banker {

}

.Diamonds, .Hearts {
	color: red;
}

.cut {
	position: absolute;
	top: -15px;
	right: 20px;
	font-size: 60px;
}

span.hand {
	/*padding: 1px;*/
	font-size: 95px;
	line-height: normal;
}