body {
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', HelveticaNeue, HelveticaNeueLT, Helvetica, Arial, 'Lucida Grande', sans-serif;
	background: #f4f4f4;
}

header {
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
	background: #e5e5e5;
}

h1 {
	display: inline;
	padding-right: 50px;
	margin: 5px;
}

header h4 {
	display: inline;
	margin-right: 15px;
}

#controls {
	width: 100%;
	display: block;
	margin: 0 0 0 5px;
}

#container {

}

#display {
	display: inline;
}

.display {
	display: inline-block;
	width: 200px;
	height: 19px;
}

.player-wrapper {
	float: left;
	width: 24%;
	height: 300px;
	position: relative;
	padding: 12px 1px 0 12px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #FFFFFF;
}

.player-wrapper h3 {
	margin: 0 0 5px 0;
	text-transform: capitalize;
}

.player-wrapper footer {
	position: absolute;
	bottom: 0px;
}

.banker {

}

.Diamonds, .Hearts {
	color: red;
}

.cut {
	position: absolute;
	top: -5px;
	right: 10px;
	font-size: 60px;
}

span.hand {
	/*padding: 1px;*/
	font-size: 95px;
	line-height: normal;
}